.fondo{

    max-width: 40rem;
    height: 100vh;

    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    
}
.menu{
    cursor: pointer;
}
.Producto{
    text-align: center;
}
.Producto1{
    border: 2px solid rebeccapurple;
     padding: .5em;
     width: 100%;
}
.Mueble1{
    text-align: center;
}