.fondo{

    max-width: 375px;
    height: 100vh;

    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    
}
.menu{
    cursor: pointer;
}
.Producto{
    text-align: center;
}
.Producto1{
    border: 2px solid rebeccapurple;
     padding: .5em;
     width: 100%;
}
.Mueble1{
    text-align: center;
}
.ver{
    width: 150px;
    margin: 10px;
}

.paleta_colores{
    background-color: aliceblue;
    background-color: antiquewhite;
    background-color: aqua;
    background-color: aquamarine;
    background-color: blue;
    background-color: blueviolet;
    background-color: yellowgreen;
    background-color: red;
    background-color: yellow;
    background-color: darkgreen;
}