.logo{

    text-align: center;
}

.fondo{

    max-width: 375px;
    height: 100vh;

    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    
}
.menu{
    cursor: pointer;
}
.Home{
   align-items: center;
    display: flex;
    border: 2px solid rebeccapurple;
    padding: .5em;
    width: 100%;
}
.About{
    align-items: center;
     display: flex;
     border: 2px solid rebeccapurple;
     padding: .5em;
     width: 100%;
 }
 .Contact{
    align-items: center;
     display: flex;
     border: 2px solid rebeccapurple;
     padding: .5em;
     width: 100%;
 }
 .login{
    text-align: center;
 }
 .singup{
    text-align: center;
 }

 .footer {
    display: grid;
    max-width: 10rem;
 }
 div a{

    color:rgb(14, 14, 14) ;
    justify-content: center;
    align-items: center;
    text-align: center;
}