.fondo{

    max-width: 375px;
    height: 100vh;

    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    
}
.menu{
    cursor: pointer;
}
.titulo_cont{
    text-align: center;
}
.escribir{
    display: flex;
    border: 2px solid rgb(2, 1, 2);
    padding: .5em;
    width: 100%;
}
.enviar{
    text-align: center;
}